.scrollable-element-list {
  overflow: auto;
  width: 95%;
  max-height: 65vh;
  border: var(--lightgray);
  border-radius: 8px;
  border-width: 2px;
  border-style: solid;
  margin-top: 16px;
}

.scrollable-element {
  margin: 8px;
}

.scrollable-element > h2 {
  margin: 8px;
  margin-top: 20px;
}

.scrollable-element > p {
  margin: 8px;
}

.scrollable-element > hr {
  background-color: var(--lightgray);
  margin-top: 8px;
  margin-bottom: 8px;
}

.hidden {
  display: none !important;
}

.char-list {
  margin-top: 8px;
  padding-left: 5ch;
}
